@import './spectre/spectre.scss';
@import './spectre/spectre-icons.scss';

.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}
.h-auto {
    height: auto;
}
.soft-transition {
    transition: 300ms;
}
.c-pointer{
    cursor: pointer;
}