<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title>Musics</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ base_url() }}/css/styles.css">
</head>
<body data-spy="scroll" data-target="#aside_menu_list" data-offset="70">

{% block body %}{% endblock %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="/javascript/menu.js"></script>
<script src="/javascript/index.js"></script>

</body>
</html>